<!DOCTYPE html>
<html>
<head>
    <title>RealView Jobs</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="navbar">
    <h2>RealView</h2>

    <input type="text" placeholder="Search jobs...">

    <a href="/post">
        <button>Post Job</button>
    </a>
</div>

<div class="container">

    <h2>Latest Jobs 🔥</h2>

    {% if jobs %}
        {% for job in jobs %}
        <div class="card">

            <h3>{{ job.title }}</h3>
            <p>🏢 {{ job.company }}</p>
            <p>📍 {{ job.location }}</p>
            <h4>💰 {{ job.salary }}</h4>

            <a href="tel:{{ job.phone }}">
                <button>Call Now 📞</button>
            </a>

        </div>
        {% endfor %}
    {% else %}
        <p>No jobs found 😢</p>
    {% endif %}

</div>

</body>
</html>