<!DOCTYPE html>
<html>
<head>
    <title>RealView Jobs</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="navbar">
    <h2>RealView</h2>

    <input type="text" placeholder="Search jobs...">

    <a href="/post">
        <button>Post Job</button>
    </a>
</div>

<div class="container">

    <h2>Latest Jobs 🔥</h2>

    {% for job in jobs %}
    <div class="card">
        <h3>{{ job[1] }}</h3>
        <p>🏢 {{ job[2] }}</p>
        <p>📍 {{ job[4] }}</p>
        <h4>💰 {{ job[3] }}</h4>

        <a href="tel:{{ job[5] }}">
            <button>Call Now 📞</button>
        </a>
    </div>
    {% endfor %}

</div>

</body>
</html>