<!DOCTYPE html>
<html>

<head>

<title>Login - RealView</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<!-- FORM -->
<div class="form-container">

<form method="POST">

<h2>👋 Welcome Back</h2>

<p>Login to continue</p>

<input 
name="username"
placeholder="Username"
required>

<input 
type="password"
name="password"
placeholder="Password"
required>

<button type="submit">Login</button>

<p>
New here? 
<a href="/signup">Create Account</a>
</p>

</form>

</div>

</body>
</html>