<!DOCTYPE html>
<html>
<head>
    <title>Post Job - RealView</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="navbar">
    <h2>Post a Job</h2>
    <a href="/"><button>Back</button></a>
</div>

<div class="form-container">

    <form method="POST">

        <input name="title" placeholder="Job Title" required>
        <input name="company" placeholder="Company Name" required>
        <input name="salary" placeholder="Salary" required>
        <input name="location" placeholder="Location" required>
        <input name="phone" placeholder="Phone Number" required>

        <button type="submit">Submit Job</button>

    </form>

</div>

</body>
</html>